---

- name: Create NZBHydra directories
  file:
    path: "{{ item }}"
    state: directory
  loop:
    - "{{ nzbhydra_config_directory }}"

- name: Set Docker container parameters
  set_fact:
    nzbhydra_container_parameters:
      name: "{{ nzbhydra_name }}"
      image: "{{ nzbhydra_image }}"
      state: started
      published_ports: "{{ nzbhydra_ports }}"
      volumes:
        - "{{ nzbhydra_config_directory }}:/config"
        - "{{ nzbhydra_download_directory }}:/downloads"
      env: "{{ nzbhydra_environment_variables }}"

- name: Create NZBHydra container
  docker_container: "{{ nzbhydra_container_parameters | combine(nzbhydra_docker_additional_options) }}"
  register: nzbhydra_container

- name: Wait for NZBHydra start
  wait_for:
    port: "{{ nzbhydra_ports[0].split(':')[0] }}"
    host: "{{ nzbhydra_container.container.NetworkSettings.IPAddress }}"

- name: Wait until the string "completed" is in the file  before continuing
  wait_for:
    path: "{{ nzbhydra_config_directory }}/logs//nzbhydra2.log"
    search_regex: "Started NzbHydra in"

- name: Configure NZBHydra
  yedit:
    src: "{{ nzbhydra_config_directory }}/nzbhydra.yml"
    key: "{{ item.key }}"
    value: "{{ item.value }}"
  loop: "{{ lookup('dict', nzbhydra_config) }}"
  notify: Restart NZBHydra

- name: Grab NZBHydra downloaders
  yedit:
    src: "{{ nzbhydra_config_directory }}/nzbhydra.yml"
    key: "downloading.downloaders"
    state: list
  register: current_configured_downloaders

- name: Configure NZBHydra downloaders
  include_tasks: setup-downloaders.yml
  loop: "{{ nzbhydra_downloaders }}"
  loop_control:
    loop_var: nzbhydra_downloader_item
    index_var: nzbhydra_downloader_index

- name: Grab NZBHydra indexers
  yedit:
    src: "{{ nzbhydra_config_directory }}/nzbhydra.yml"
    key: "indexers"
    state: list
  register: current_configured_indexers

- name: Configure NZBHydra indexers
  include_tasks: setup-indexers.yml
  loop: "{{ nzbhydra_indexers }}"
  loop_control:
    loop_var: nzbhydra_indexer_item
    index_var: nzbhydra_indexer_index
